<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="PharmacyDBConn"
			 connectionString="Data Source=DESKTOP-E3FQEF0;Initial Catalog=PharmacyDB;Integrated Security=True;TrustServerCertificate=True;"
       providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>

